$primary-color: #5bc8ac;
$secondary-color: #e6d72a;
$primary-font-color: black;
$secondary-font-color: #800000;
// styling for navigation bar //
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    a {
        // width: 50px;
        text-decoration: none;
        padding: 1em;
        height: 1em;
        // border-bottom: 3px solid ;
        &#home {
            background-color: $primary-color;
            color: $primary-font-color;
            border-top: 2px solid #e6d72a;
            border-bottom: 2px solid #e6d72a;
            border-left: 2px solid #e6d72a;
            border-right: 2px solid #e6d72a;
        }
        &:hover {
            padding: 1em 1.5em;
            border-radius: 50%;
            font-size: larger;
        }
        &#portfolio {
            background-color: $secondary-color;
            color: $primary-font-color;
            border-top: 2px solid #98dbc6;
            border-bottom: 2px solid #98dbc6;
            border-left: 2px solid #98dbc6;
            border-right: 2px solid #98dbc6;
        }
        &#blog {
            background-color: $primary-color;
            color: $primary-font-color;
            border-top: 2px solid #e6d72a;
            border-bottom: 2px solid #e6d72a;
            border-left: 2px solid #e6d72a;
            border-right: 2px solid #e6d72a;
        }
        &#about {
            background-color: $secondary-color;
            color: $primary-font-color;
            border-top: 2px solid #98dbc6;
            border-bottom: 2px solid #98dbc6;
            border-left: 2px solid #98dbc6;
            border-right: 2px solid #98dbc6;
        }
    }
}