#content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 15% 55% 15%;
      grid-template-rows: 15% 15% 55% 15%;
      grid-template-areas: "header" "nav" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav a {
  text-decoration: none;
  padding: 1em;
  height: 1em;
}

nav a#home {
  background-color: #5bc8ac;
  color: black;
  border-top: 2px solid #e6d72a;
  border-bottom: 2px solid #e6d72a;
  border-left: 2px solid #e6d72a;
  border-right: 2px solid #e6d72a;
}

nav a:hover {
  padding: 1em 1.5em;
  border-radius: 50%;
  font-size: larger;
}

nav a#about {
  background-color: #e6d72a;
  color: black;
  border-top: 2px solid #98dbc6;
  border-bottom: 2px solid #98dbc6;
  border-left: 2px solid #98dbc6;
  border-right: 2px solid #98dbc6;
}

nav a#portfolio {
  background-color: #5bc8ac;
  color: black;
  border-top: 2px solid #e6d72a;
  border-bottom: 2px solid #e6d72a;
  border-left: 2px solid #e6d72a;
  border-right: 2px solid #e6d72a;
}

nav a#blog {
  background-color: #e6d72a;
  color: black;
  border-top: 2px solid #98dbc6;
  border-bottom: 2px solid #98dbc6;
  border-left: 2px solid #98dbc6;
  border-right: 2px solid #98dbc6;
}

main {
  height: 400px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  background-image: url("images/developerr.png");
  background-repeat: no-repeat;
  background-position: center;
}

main:hover {
  background-image: url("images/flipdeveloper.png");
}

main #socials {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #socials:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

#logo img {
  height: 50px;
  border-radius: 50%;
}

#logo img:hover {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */