$primary-color: #5bc8ac;
$secondary-color: #e6d72a;
$primary-font-color: black;
$secondary-font-color: #800000;

#content  {
    display: grid;
    grid-template-rows: 15% 15% 55% 15%;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;

    a {
        // width: 50px;
        text-decoration: none;
        padding: 1em;
        height: 1em;
        border-bottom: 3px solid #98dbc6;
        &#home{
            background-color: $primary-color;
            color: $primary-font-color;
        }
        &:hover{
            padding: 1em 1.5em;
            border-radius:50%;
            font-size: larger;
                    
        }
        &#about{
            background-color: $secondary-color;
            color: $primary-font-color;
           
        }
        &#portfolio{
            background-color: $primary-color;
            color: $primary-font-color;
        }
        &#blog{
            background-color: $secondary-color;
            color: $primary-font-color;
        }
    }

}

main{
    height: 400px;
    grid-area: main;
    background-image: url("images/Developer.png");
    background-repeat: no-repeat;
    background-position: center;
    // &:hover{
    // background-image: url("images/logo.png");
    // }

    #socials{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: $primary-color;
    }
}


footer {
    grid-area: footer;
}

#logo{
    img {
        height: 50px;
        border-radius: 50%;
    }
}